.marquee {
  overflow: hidden;
  border-top: 1px solid colors(black);
  border-bottom: 1px solid colors(black);

  &__wrapper {
    display: flex;
    gap: var(--margin-xsmall);
    flex-wrap: nowrap;
  }

  &__item {
    flex-shrink: 0;
    white-space: nowrap;
    @include fluid-type(320px, 1440px, 24px, 40px);
  }

  &__dot {
    flex-shrink: 0;
    margin: 0 var(--margin-xxtiny);
  }
}