@use '../base/type-scale' as *;
@use '../base/flex' as *;
@use '../utils/responsive' as *;
@use '../utils/mixins' as *;
@use '../utils/functions' as *;

.preloader {
  @extend %center;
  @extend %cover;

  background-color: colors(grey);
  color: colors(black);
  text-align: center;
  z-index: z(preloader);
}

.preloader__text {


  max-width: 67rem;
  opacity: 0;

  span span {


    display: inline-block;
    transform-origin: center center 0.5em;
  }
}

.preloader__number {
  font-family: font(roslindale-regular);

  bottom: 7.3rem;
  left: 50%;
  overflow: hidden;
  position: absolute;
  transform: translateX(-50%);

  @include media('<phone') {
    font-size: 2.4rem;
  }
}

.preloader__number__text {
  font-family: font(roslindale-regular);
  display: inline-block;
}