@use '../base/type-scale' as *;
@use '../base/flex' as *;
@use '../utils/responsive' as *;
@use '../utils/mixins' as *;


.preloader {
  @extend %cover;
  overflow: hidden;
  background-color: colors(grey);
  color: colors(gold);
  z-index: 9999; // THIS IS THE LINE THAT FIXES THE ANIMATIONS

  position: relative; // Keep this for positioning children if needed

  &__number {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}