.icon {
  position: absolute;
  width: auto;
  height: auto;
  max-width: clamp(400px, 12vw, 500px); // desktop
  pointer-events: none;
  display: block;
  z-index: 3;
  transform-origin: center;
  transition: transform 0.3s ease;

  // Tablet
  @include media('<tablet') {
    max-width: clamp(350px, 25vw, 400px); // medium size for tablets
  }

  // Mobile
  @include media('<phone') {
    max-width: clamp(250px, 50vw, 350px); // bigger mobile icons
  }
}


// Mint
.icon.mint {
  bottom: clamp(-150px, -8vh, -200px);
  left: clamp(-120px, -5vw, -150px);
  transform: rotate(-12deg);

  @include media('<phone') {
    bottom: clamp(-20px, -5vh, -60px);
    right: clamp(-20px, -5vw, -80px);
    left: auto;
    transform: rotate(-8deg);
  }
}

// Rosemary
.icon.rosemary {
  right: clamp(-30px, -3vw, -60px);
  bottom: clamp(-20px, 2vh, 40px);
  transform: rotate(6deg);
}

// Wheat
.icon.wheat {
  right: 0;
  bottom: clamp(0px, 5vh, 60px);
  transform: rotate(-5deg);
}

// Avocado
.icon.avocado {
  right: clamp(-120px, -3vw, -200px);
  bottom: clamp(-100px, 2vh, -130px);
  transform: rotate(10deg);
}

// Tomato
.icon.tomato {
  left: clamp(-40px, -5vw, -110px);
  top: clamp(-10px, -10vh, -100px);
  transform: rotate(-7deg);
}

// Plant
.icon.plant {
  left: clamp(-80px, -3vw, -60px);
  bottom: clamp(-40px, -8vh, -120px);
  transform: rotate(15deg);

  @include media('<phone') {
    display: none;
  }
}

// Blueberry
.icon.blueberry {
  right: clamp(-50px, -3vw, -150px);
  top: clamp(40px, 3vh, 40px);
  transform: rotate(-10deg);

  @include media('<phone') {
    display: none;
  }
}