.icon {
  position: absolute;
  pointer-events: none;
  z-index: 3;
  width: clamp(10vw, 15vw, 20vw); // changed from px to vw
  height: auto;

  // Tablet (make larger than desktop, more range)
  @include media('<tablet') {
    width: clamp(20vw, 28vw, 35vw);
  }

  // Mobile (largest, for small screens)
  @include media('<phone') {
    width: clamp(35vw, 40vw, 45vw);
  }
}

.icon__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

}

// Mint
.icon.mint {
  bottom: clamp(-8vh, -8vh, -12vh);
  left: clamp(-5vw, -5vw, -12vw);

  @include media('<phone') {
    bottom: clamp(-5vh, -5vh, -8vh);
    right: clamp(-5vw, -5vw, -10vw);
    left: auto;
  }
}

// Rosemary
.icon.rosemary {
  right: clamp(-3vw, -3vw, -7vw);
  bottom: clamp(2vh, 2vh, 6vh);
}

// Wheat
.icon.wheat {
  right: 0vw;
  bottom: clamp(0vh, 5vh, 10vh);
}

// Avocado
.icon.avocado {
  right: clamp(-4vw, -3vw, -6vw);
  bottom: clamp(-10vh, 2vh, -15vh);
}

// Tomato
.icon.tomato {
  left: clamp(-7vw, -5vw, -10vw);
  top: clamp(-14vh, -10vh, -15vh);
}

// Plant
.icon.plant {
  top: clamp(30vh, 15vh, 35vh); // changed middle value to vh for vertical scaling
  left: clamp(-3vw, 5vw, -6vw); // changed from vh to vw for horizontal scaling
  // overflow: visible;

  @include media('<phone') {
    display: none; // hide on mobile
  }
}

// Blueberry
.icon.blueberry {
  top: clamp(15vh, 10vh, 20vh);
  right: clamp(-6vw, -3vw, -8vw);

  @include media('<phone') {
    display: none; // hide on mobile
  }
}

//Orange
.icon.orange {
  bottom: clamp(5vh, 5vh, 6vh);
  left: clamp(-4vw, -3vw, -4vw);
}

// Seed Plant
.icon.seed_plant {
  top: clamp(5vh, 5vh, 10vh);
  right: clamp(-3.2vw, -3vw, -4vw);

  @include media('<phone') {
    display: none; // hide on mobile
  }
}

//Wheat Plant
.icon.wheat_plant {
  position: relative;
  top: clamp(40vh, 20vh, 45vh);
  left: clamp(-4vw, -3vw, -5vw);

  @include media('<phone') {
    display: none; // hide on mobile
  }
}