@mixin link-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

@mixin link-line {
  background: currentColor;
  bottom: -15px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  transition: transform 0.7s ease-in-out;
  width: 100%;
  pointer-events: none;
}

@mixin link-line-visible {
  transform: scaleX(1);
  transform-origin: left center;
}

@mixin link-line-hidden {
  transform: scaleX(0);
  transform-origin: right center;
}

@mixin link {
  @include link-wrapper;

  // This pseudo-element creates the line below the link
  &:after {
    @include link-line;
    @include link-line-visible;
  }

  // This new pseudo-element covers the gap to make it non-clickable
  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -14px;
    /* Positioned just above the line */
    height: 14px;
    /* The size of the gap */
  }

  &:hover {
    &:after {
      @include link-line-hidden;
    }
  }
}

@mixin link-hidden {
  @include link-wrapper;

  // This pseudo-element creates the line below the link
  &:after {
    @include link-line;
    @include link-line-hidden;
  }

  // This new pseudo-element covers the gap to make it non-clickable
  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -14px;
    /* Positioned just above the line */
    height: 14px;
    /* The size of the gap */

  }

  &:hover {
    &:after {
      @include link-line-visible;
    }
  }
}