block variables
doctype html
html(lang="en")
  head
    include ../_includes/head
    
  body
    header(class=template) 
      include ./navigation
      
    //- include ./preloader
    #content.content(data-template=template)
      block content
    include ./transition
    include ./chat
    include ./footer
    include ./script