block variables
doctype html
html(class= isDesktop ? "desktop" : isTablet ? "tablet" : isPhone ? "phone" : "" lang="en")
  head
    include ../_includes/head
    include ../_includes/navigation
  body
    
    #content.content(data-template=template)
      block content

    include ../_includes/footer
    include ../_includes/script