block variables
doctype html
html(lang="en")
  head
    include ../_includes/head
    
  body(style="opacity: 0; visibility: hidden;")
    header(class=template) 
      include ./navigation
      
      
    #content.content(data-template=template)
      block content
    include ./chat
    include ./footer
    include ./script