doctype html
html(lang="en")
  head
    block variables  
    include ../_includes/head
    script(src="https://t.contentsquare.net/uxa/ffb633d8cfee7.js")
    style.
      body {
        visibility: hidden;
        overflow: hidden;
      }
  

  body
    include ./preloader
    include ./transition
    include ./navigation

    #content.content(data-template=template)
      block content
    include ./footer
    include ./script
    