doctype html
html(lang="en")
  head
    block variables  
    include ../_includes/head

    style.
      body {
        visibility: hidden;
        overflow: hidden;
        background: #EFEDEA; 
      }
  
  body
    include ./preloader
    include ./transition
    header(class=template) 
      include ./navigation

    #content.content(data-template=template)
      block content
    include ./footer
    include ./script
    