block variables
doctype html
html(lang="en")
  head
    include ../_includes/head
    
  body(style="opacity: 0; visibility: hidden;")
    header(class=template) 
      include ../_includes/navigation

    #content.content(data-template=template)
      block content

    include ../_includes/footer
    include ../_includes/script