nav.navigation
  div.navigation__logo
    a(href="/")
      img.navigation__logo__image(src="/images/logo.svg", alt="Pigalle by Viallamoura logo")

  // Desktop links
  .navigation__links.navigation__links--desktop
    a(href="/menu/") Menu
    a(href="/about/") Our Story
    a(href="/contact/") Contact
    a(href="/book/") Make a booking

  // Mobile hamburger icon
  .navigation__icon.navigation__icon--open
    span
    span
    span

  // Mobile links
  .navigation__links.navigation__links--mobile
    .mobile-header
      div.navigation__logo
        a(href="/")
          img.navigation__logo__image(src="/images/logo.svg", alt="Logo")
      .navigation__icon.navigation__icon--close
        svg(...close icon...)

    .mobile-links
      a.h2(href="/menu/") Menu
      a.h2(href="/about/") Our Story
      a.h2(href="/contact/") Contact
      a.h2(href="/book/") Make a booking

    .mobile-socials
      a(href="#") svg(...facebook icon...)
      a(href="#") svg(...instagram icon...)
