.dineplan {
  @include flex(column, center, center, nowrap);
  width: 100%;
  position: relative;
}

.dineplan-widget-container {
  width: 302px;
  height: 455px;
  border: 3px solid colors(gold);

  overflow: hidden;
}

.dineplan-widget {
  border: none !important;

  // Target the iframe inside and force it to fill the container
  iframe {
    width: 100% !important;
    height: 100% !important;
  }
}