@use '../../base/flex' as *;
@use '../../base/grid' as *;
@use '../../utils/responsive' as *;
@use '../../utils/functions' as *;

.menu__category {
  @include flex(row, center, center, wrap);
  margin-top: calc(var(--margin-medium) + 80px);
  margin-bottom: var(--margin-medium);

  color: colors(accent-grey);

  @include media('<tablet') {
    @include flex(row, flex-start, center, nowrap);
  }

  &__wrapper {
    @include flex(row, center, center, wrap);

    max-width: 150ch;
    text-align: center;

    @include media('<tablet') {
      @include flex(row, flex-start, center, nowrap);
    }

  }

  &__label {
    text-transform: capitalize;
    padding: 0;
    margin-right: var(--margin-xtiny);

    &.--active {
      color: colors(black);
    }
  }

  &__slash {
    color: colors(accent-grey);
    margin-left: var(--margin-xtiny);
    margin-right: var(--margin-xtiny);

  }
}