.menu__category {
  @include flex(row, center, center, wrap);

  color: black;

  @include media('<tablet') {
    @include flex(row, flex-start, center, nowrap);
  }

  &__wrapper {
    @include flex(row, center, center, wrap);

    max-width: 120ch;
    text-align: center;

    @include media('<tablet') {
      @include flex(row, flex-start, center, nowrap);
    }

  }

  &__label {
    text-transform: capitalize;
    padding: 0;
    margin-right: var(--margin-xtiny);

  }

  &__slash {
    color: colors(accent-grey);
    margin-left: var(--margin-xtiny);
    margin-right: var(--margin-xtiny);

  }
}