extends ./_includes/layout
include ./_includes/mixins

block variables
  - var template = 'book'

block content
  .book
    .book__wrapper
      section.container.book__intro.section--medium--margin
        each slice in prismic.book.data.body
          if slice.slice_type === 'book'
            h1.book__heading=slice.primary.heading[0].text
            p.book__description__1=slice.primary.description_1
            p.book__description__2=slice.primary.description_2

      section.book__calendar
        .dineplan-widget(data-key="mnpTxlcs")

    +svg-decorative('plant')
    +svg-decorative('blueberry')
    include ./_includes/marquee
