@use 'sass:map';

// Internal helper function for retrieving design tokens
@function _superget($type, $key, $obj, $defs) {
  @if map.has-key($obj, $key) {
    @return map.get($obj, $key);
  }

  @else if map.has-key($defs, $key) {
    @return map.get($defs, $key);
  }

  @else {
    @error "#{$type} #{$key} wasn\'t found";
  }
}

// Z-INDEX
// Variables must be public ($) and use !default to be configurable via @forward
$z-indexes: (
  ) !default;
$_def-z-indexes: (
);

@function z($key) {
  @return _superget('Z-Index', $key, $z-indexes, $_def-z-indexes);
}

// COLORS
$colors: (
  ) !default;
$_def-colors: (
  black: #000,
  white: #fff,
);

@function colors($key) {
  @return _superget('Colors', $key, $colors, $_def-colors);
}

// CONSTANTS
$constants: (
  ) !default;
$_def-constants: (
);

@function const($key) {
  @return _superget('Constants', $key, $constants, $_def-constants);
}

// FONTS
$fonts: (
  ) !default;
$_def-fonts: (
);

@function font($key) {
  @return _superget('Fonts', $key, $fonts, $_def-fonts);
}

// EASINGS
$easings: (
  ) !default;
$_def-easings: (
);

@function ease($key) {
  @return _superget('Easings', $key, $easings, $_def-easings);
}