// All your design tokens are here
$colors: (
  light-grey:#6A6A6A,
  accent-grey:#CBC4B1,
  grey: #EFEDEA,
  white: #fff,
  black: #000,
  gold:#DEC16B,

);

$fonts: (
  roslindale-light-italic: 'Roslindale Dsp Cd Lt',
  roslindale-regular: 'Roslindale Dsp Nar',
  lato: 'Lato',
);

// 1st level z-indexes. You can get them with z(Z_INDEX_NAME)
$z-indexes: (
  preloader: 7,
  transition: 6,
  navigation: 5,
  chat: 4,
  content: 4,
  icons: 3,
  text: 4,
  images: 2,
  canvas: 1
);


// You can get them with const(CONSTANTS)
$constants: (
  nav-height: 10px,
);

// You can get them with ease(EASING)
$easings: (
  ease-in-out: cubic-bezier(0.77, 0, 0.175, 1),
);

$breakpoints: (
  'phone':768px,
  'tablet': 1024px,
  'desktop': 1440px,
);

// The original @forward was removed, which is correct.