@use '../../base/flex' as *;
@use '../../base/grid' as *;
@use '../../utils/responsive' as *;
@use '../../utils/functions' as *;

.about__card__wrapper {
  background-color: colors(grey)
}

.about__card {
  @include page-grid;
  align-items: center;


  &__heading {
    margin-bottom: var(--margin-tiny);

  }

  &__description {
    margin-bottom: var(--margin-xsmall);
  }


  &__right {
    grid-column: 7 / span 6;
    justify-self: center;
    align-self: center;
    // overflow: hidden;

    @include media('<phone') {
      grid-column: 1 / span 4;
      justify-self: start;
      align-self: start;
    }
  }

  &__left {
    grid-column: 1 / span 6;
    overflow: hidden;
    position: relative;

    @include media('<phone') {
      grid-column: 1 / span 4;
      margin-bottom: var(--margin-small);
    }
  }



  &__image__wrapper {}

  &__image {
    aspect-ratio: 665 / 700;
    min-width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;

  }



}