@use '../../base/flex' as *;
@use '../../base/grid' as *;
@use '../../utils/responsive' as *;
@use '../../utils/functions' as *;

.events {
  @include page-grid;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0 var(--padding-small);
  place-items: center;
  will-change: transform;
  // filter:
  //   brightness(0.6) // darkens the video by 50%
  //   contrast(1.1)blur(0.5) // slightly boosts contrast
  //   saturate(1.1); // optional: makes colors richer


  @include media('<phone') {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
  }

  &__card__wrapper {

    position: relative;
  }


  &__content {
    color: colors(white);
    grid-column: 8 / span 3;

    @include media('<tablet') {
      grid-column: 8 / span 4; // example layout for tablet

      // max-width: 60ch;
      margin-top: var(--margin-large);
    }

    @include media('<phone') {
      grid-column: 1 / span 4;
      align-items: center;
      justify-items: center;
      text-align: center;
      max-width: 50ch;
      margin-top: var(--margin-large);
      margin-bottom: 0;
    }
  }

  &__heading {
    margin-bottom: var(--margin-tiny);
  }

  &__description {
    margin-bottom: var(--margin-xsmall);
  }

  &__button {
    display: inline-block; // ensures margin auto works
    margin: 0 auto;
  }



}