.faq {
  @include page-grid;


  &__container {
    grid-column: 4/ span 6;

    @include media('<phone') {
      grid-column: 1/ -1;

    }
  }


  &__heading {
    margin-bottom: var(--margin-small);
  }

  &__accordian {}

  &__question {
    font-family: font(lato), serif;
    line-height: 130%; // mobile value, will shrink visually on desktop due to scale
    letter-spacing: 0;

    @include fluid-type(320px, 1440px, 18px, 24px);

    @include media('<phone') {
      line-height: 110%;
    }

    @include flex(row, space-between, center, nowrap);
    min-width: 100%;

    margin-bottom: var(--margin-xtiny);
    padding: 0;
  }

  &__question__text {
    @include flex(row, space-between, center, nowrap);
    flex: 1;

    text-transform: none;
  }

  &__answer {
    padding-right: 22px;
  }

  &__line {
    background-color: colors(accent-grey);
    height: 1px;
    margin: var(--margin-xtiny) 0;
  }

}