@use '../../base/flex' as *;
@use '../../base/grid' as *;
@use '../../base/type-scale' as *;
@use '../../utils/responsive' as *;
@use '../../utils/functions' as *;

.faq {
  @include page-grid;


  &__section {
    position: relative;
    background-color: colors(grey);
  }

  &__container {
    grid-column: 4/ span 6;

    @include media('<phone') {
      grid-column: 1/ -1;

    }
  }


  &__heading {
    margin-bottom: var(--margin-xsmall);
    // font-family: font(roslindale-light-italic);
    // font-weight: 400;
    // font-style: normal;
  }

  &__accordian {}

  &__question {
    font-family: font(lato), serif;

    @include fluid-type(320px, 1440px, 18px, 24px);
    flex: 1 1 auto;
    @include flex(row, flex-start, center, nowrap);
    min-width: 100%;


    padding: 0;
  }

  &__question__text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; // left align text
    align-items: center;
    text-transform: none;
    flex-wrap: wrap;
    flex: 1 1 auto;
    text-align: left; // make sure text inside spans is left-aligned
    margin: var(--margin-xtiny) 0;
  }

  &__question__text span {
    display: inline; // remove block + min-width:100%\

  }


  &__answer {
    padding-right: var(--margin-tiny);
    margin: var(--margin-xtiny) 0;
  }

  // &__line {
  //   background-color: colors(accent-grey);
  //   height: 1px;
  //   margin: var(--margin-tiny) 0;
  // }
  &__item {
    position: relative;


    // Define the line's styles, initial state, and transition here
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: colors(accent-grey);
      height: 1px;


      transform: scaleX(0);


      transform-origin: center left;

    }


    &.animate-line-scale::after {
      transform: scaleX(1);
      transition: transform 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
  }

  &__icon {
    margin-left: var(--margin-xxtiny); // space between text and icon
    flex-shrink: 0; // prevent icon from shrinking
    width: 20px;
    height: 20px;
  }



}