@use '../../base/flex' as *;
@use '../../base/grid' as *;
@use '../../utils/responsive' as *;
@use '../../utils/functions' as *;

.hero {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  position: relative;
  z-index: -1;
  @include flex(row, flex-end, flex-end, nowrap);
  margin-bottom: 10px;


  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
    filter:
      brightness(0.9) // darkens the video by 50%
      contrast(1.1) // slightly boosts contrast
      saturate(1.1); // optional: makes colors richer
  }

  &__text {
    position: relative;
    bottom: 0;
    right: 0;
    z-index: 1; // above video
    color: white;
    max-width: clamp(90ch, 70%, 100ch);
    text-align: right;
    margin: 0 var(--margin-xtiny) var(--margin-xsmall) 0;
  }
}