.hero {
  @include flex(column, flex-end, flex-end, wrap);
  height: calc(100vh - 80px);
  // min-width: 100%;
  position: relative;
  overflow: hidden;

  .hero__video {}



  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
    filter: contrast(1.1) brightness(0.9) saturate(1.2);
  }

  &__text {
    text-align: right;
    color: colors(white);
    margin-bottom: var(--margin-xmedium);
    max-width: clamp(50ch, 60%, 70ch);
    @include widow-fix;

    @include media('<phone') {
      // @include flex(column, flex-start, flex-start, wrap);
      max-width: 100%;
      width: 100%;
      margin-inline: auto;
    }
  }




}