.reviews {
  @include media("<phone") {
    margin: 0 var(--margin-xsmall);
  }


  &__wrapper {
    // border: 2px solid black;
    overflow: hidden;
    width: 100%;
  }

  &__track {
    // border: 2px solid blue;
  }

  &__slider {
    display: flex;
    will-change: transform;

  }

  &__slide {
    flex: 0 0 calc(100% / 3);
    color: colors(accent-grey);
    transition: color 0.1s ease-in-out, opacity 0.8s ease-in-out;
    opacity: 0.6;
    will-change: transform;

    @include media("<phone") {
      flex: 0 0 100%;
    }

    &.--active {
      color: colors(black);
      opacity: 1;


    }


    &.--left {
      transform: translateX(-50%); // peek left
    }

    &.--right {
      transform: translateX(50%); // peek right
    }
  }



  &__item {

    text-align: center;

  }

  &__text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-bottom: var(--margin-tiny);
    text-align: center;
    z-index: z(text);
  }

  &__name {
    margin-bottom: var(--margin-xsmall);
  }

  &__quote__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: var(--margin-xsmall);

  }

  &__quote {
    font-family: serif;
    @include fluid-type(320px, 1440px, 100px, 120px);
    line-height: normal;
    height: var(--margin-tiny);
    margin-bottom: var(--margin-xsmall);
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: var(--margin-tiny);
    margin-top: 1rem;
  }


  button.reviews__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%; // cleaner than 9999px
    background-color: colors(accent-grey);
    cursor: pointer;

    border: none; // remove default button border
    padding: 5px;
    display: inline-block; // makes width/height respected exactly

    &.--active {
      background-color: colors(black);
    }
  }

}