@use '../../base/flex' as *;
@use '../../base/grid' as *;
@use '../../utils/responsive' as *;
@use '../../utils/functions' as *;

.tagline__card__wrapper {
  @include flex(column, center, center, nowrap);
  background-color: colors(grey);


  text-align: center;

}

.tagline {
  @include flex(column, center, center, wrap);
  max-width: clamp(80ch, 60%, 90ch);
  text-align: center;

  &__heading {
    margin-bottom: var(--margin-xsmall);
    display: inline-block;
    text-align: center;
    word-break: normal;
    white-space: pre-wrap;


    @include media('<phone') {
      max-width: 28ch; // even narrower on mobile
      white-space: normal;
      padding: 0 var(--margin-xxtiny);
    }
  }


  @include media('<phone') {

    // @include flex(column, flex-start, flex-start, wrap);
    max-width: 100%;
    width: 100%;
    margin-inline: auto;
    text-align: center;
  }
}