.tagline__card__wrapper {
  position: relative; // creates new stacking context
  z-index: 2;
  @include flex(column, center, center, nowrap);
  background-color: colors(grey);
  text-align: center;
  // height: 100vh;
}

.tagline {
  @include flex(column, center, center, wrap);
  max-width: clamp(50ch, 60%, 80ch);
  text-align: center;
  @include widow-fix;

  &__heading {
    margin-bottom: var(--margin-xsmall);
    display: inline-block;
    max-width: 70ch;
    text-align: center;
    white-space: pre-wrap;
    word-break: normal;
  }

  @include media('<phone') {

    // @include flex(column, flex-start, flex-start, wrap);
    max-width: 100%;
    width: 100%;
    margin-inline: auto;
    text-align: center;
  }
}