.story {

  &__history {

    @extend %center;
    flex-direction: column;

  }

  &__history__wrapper {

    @extend %center;
    flex-direction: column;


    @include media('<phone') {
      align-items: flex-start;
      justify-content: flex-start;
      text-align: left;

    }
  }


  &__history__heading {
    max-width: 28ch;
    margin-bottom: var(--margin-tiny);
  }

  &__history__description {
    max-width: 60ch;
    margin-bottom: var(--margin-small);
  }

  &__history__button {}
}