.story {
  &__intro__wrapper {
    position: relative;
    height: calc(100vh - 80px);
    overflow: hidden;

    // flex container → content sits bottom-left
    @include flex(column, flex-end, flex-end, nowrap);
  }

  &__intro {
    width: 100%;
    padding: var(--margin-small);
  }

  &__intro__heading {
    max-width: 70ch;
    color: colors(white);
  }
}