.story {
  &__quality {}

  &__quality__wrapper {
    @include page-grid;

  }

  &__quality__heading {
    grid-column: 4 / 11;
    grid-row: 1 / 2;
    text-align: center;
    margin-bottom: var(--margin-xsmall);
    max-width: 30ch;
    z-index: z(text);

    @include media('<tablet') {
      grid-column: 2 / -2;
    }

    @include media('<phone') {
      grid-column: 1 / -1;
    }
  }

  /* NEW wrapper to hold team + halaal side by side */
  &__quality__content {
    grid-column: 4 / 10;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-self: center;
    justify-self: center;

    @include media('<tablet') {
      grid-column: 1 / -1;
      grid-template-columns: 1fr; // stack on mobile
      grid-row: auto;
    }
  }

  /* TEAM + HALAAL blocks */

  .quality__halaal__wrapper {
    margin-right: var(--margin-xsmall);
  }

  .quality__team__wrapper,
  .quality__halaal__wrapper {
    @include flex(row, flex-start, flex-start, nowrap);

    margin-bottom: var(--margin-small);

    p {
      max-width: 35ch;
    }

    // @include media("<phone") {
    //   margin-bottom: var(--margin-small);
    // }
  }

  &__halaal__image,
  &__team__image {
    margin-right: var(--margin-tiny);
  }

  &__quality__button {
    grid-column: 1 / -1; // span all 12 columns
    justify-self: center;

    @include media('<tablet') {
      grid-column: 1 / -1;
      justify-self: center;
      // margin-top: var(--margin-medium);
    }
  }
}