@use '../base/flex' as *;
@use '../base/grid' as *;
@use '../utils/responsive' as *;
@use '../utils/functions' as *;

.footer {
  background-color: colors(black);
  color: colors(off-white);
  padding: var(--padding-small) 0 var(--padding-tiny) 0;


  @include media('<phone') {
    padding: var(--padding-large) 0 var(--padding-small) 0;
  }

  &__wrapper {
    @include page-grid;
    // min-width: 100vw
  }

  &__hours__heading {
    margin-bottom: var(--margin-xxtiny);
    color: colors(gold);

    @include media('<phone') {
      grid-column: 1 / -1;
      text-align: center;
      align-self: center;
      justify-self: center;
    }
  }

  &__hours {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    margin-bottom: var(--margin-xxtiny);

    @include media('<tablet') {
      grid-column: 1 / span 5;
      grid-row: 1 / span 1;
      margin-bottom: var(--margin-xtiny);
    }

    @include media('<phone') {
      grid-column: 1 / -1;
      grid-row: auto;
      margin-bottom: var(--margin-xtiny);
      text-align: center;
      justify-self: center;
    }
  }

  &__hours__content {
    @include flex(row, space-between, center, nowrap);
    gap: var(--margin-small);
    margin-bottom: var(--margin-xxtiny);
    min-width: 100%;

    @include media('<phone') {
      margin-bottom: var(--margin-xsmall);
      grid-column: 1 / -1;
      grid-row: auto;
      gap: 0;
      @include flex(column, center, center, nowrap);
      text-align: center;
    }
  }

  &__hours__day {}

  &__hours__hours {}

  &__hours__time {
    margin-right: var(--margin-tiny);
  }

  &__contact {
    grid-column: 10 / span 3;
    grid-row: 1 / span 1;
    margin-bottom: var(--margin-small);
    text-align: right;
    justify-items: end;

    @include media('<phone') {
      grid-column: 1 / -1;
      grid-row: auto;
      text-align: center; // ✅ center text inside
      justify-self: center;
      align-self: center;
      margin-bottom: var(--margin-large);

      // make children align in the middle
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__contact__heading {
    margin-bottom: var(--margin-xxtiny);
    color: colors(gold);

    @include media('<phone') {
      text-align: center; // ✅ center heading too
    }
  }

  &__contact__phone,
  &__contact__email,
  &__contact__address {
    margin-bottom: var(--margin-xxtiny);

    @include media('<phone') {
      text-align: center; // 
    }
  }


  .social {
    @include flex(row, flex-end, flex-end, nowrap);

    @include media('<phone') {
      justify-content: center;
    }
  }

  .social__item:not(:last-child) {
    margin-right: var(--margin-xtiny);
  }

  &__social__media {
    grid-column: 10 / span 3;
    grid-row: 2 / span 1;
    text-align: right;
    justify-items: end;
    margin-bottom: var(--margin-small);

    @include media('<phone') {
      grid-column: 1 / -1;
      grid-row: auto;
      text-align: center;
      justify-self: center;
      align-self: center;
      margin-bottom: var(--margin-medium);
    }
  }

  &__social__media__heading {
    color: colors(gold);
    margin-bottom: var(--margin-xxtiny);
  }

  &__social__icon {
    width: 20px; // increase size
    height: 20px;

  }

  &__logo {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;



    @include media('<phone') {
      grid-column: 1 / -1;
      grid-row: 4;
      align-self: center;
      justify-self: center;
      text-align: center;
      margin-bottom: var(--margin-xtiny);
    }


  }

  .logo {
    width: 25rem;
    height: auto;
  }

  &__copyright {
    grid-column: 9 / span 4;
    grid-row: 3 / span 1;
    color: colors(light-grey);
    align-self: end;
    justify-self: end;
    white-space: nowrap;

    @include media('<phone') {
      grid-column: 1 / -1;
      grid-row: 5;
      text-align: center;
      justify-self: center;
      align-self: center;
      white-space: nowrap;
    }
  }
}