@use '../base/type-scale' as *;
@use '../base/flex' as *;
@use '../base/grid' as *;
@use '../utils/responsive' as *;
@use '../shared/titles' as *;
@use '../shared/links' as *;
@use '../utils/functions' as *;


header {
  min-width: 100vw;

}

.navigation {
  @extend %title-16;
  @include flex(row, space-between, center, nowrap);
  position: fixed;
  top: 0;
  left: 0;
  z-index: z(navigation);
  min-width: 100%;
  height: 80px;
  padding: var(--padding-xsmall) var(--padding-xsmall);
  will-change: transform;


  &__links {
    &--desktop {
      display: flex;
      gap: var(--margin-xsmall);


      @media (max-width: 768px) {
        display: none;
      }
    }

    &--mobile {
      @include page-grid;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: var(--padding-xsmall) var(--padding-xsmall);
      margin: 0;
      visibility: hidden;
      z-index: z(navigation);
      color: colors(black);
      background-color: colors(grey);
      will-change: transform;

      @include media("<phone") {
        margin: 0;
      }

      @include media("<tablet") {
        margin: 0;
      }

      .mobile-header {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 80px;

        .navigation__logo__image {
          max-height: 80px;
          width: auto;
          margin-bottom: var(--margin-xsmall);

        }
      }

      .mobile-links {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        gap: var(--margin-small);
        overflow: hidden;

        .mobile-links__wrapper {
          overflow: hidden;
        }

        a {
          color: #000;
        }
      }

      .mobile-socials {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        gap: var(--margin-xsmall);

        a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: #000;

          svg {
            width: 24px;
            height: 24px;
          }
        }
      }

      .navigation__social__media {
        @include flex(column, center, center, nowrap);
        text-align: center;
      }

      .navigation__social__media__heading {
        margin-bottom: var(--margin-xtiny);
        color: colors(black)
      }

      .navigation__social {
        @include flex(row, flex-start, center, nowrap);
      }

      .social__item:not(:last-child) a svg {
        margin-right: var(--margin-tiny);
      }
    }
  }

  &__icon--toggle {
    display: none;
    flex-direction: column;
    gap: 0.3rem;
    cursor: pointer;
    z-index: 100;

    @media (max-width: 768px) {
      display: flex;
    }
  }
}