@import './type-scale';

*,
*:after,
*:before {
  box-sizing: border-box;
  // user-select: none;
  appearance: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  // @extend %cover;
  // overflow: hidden;
  font-size: calc(100vw / 1440 * 10);
  line-height: 1;
  overflow-x: hidden;
  // position: fixed;
  overscroll-behavior: none;
  text-rendering: optimizeSpeed;
  -webkit-overflow-scrolling: touch; // enables bounce on iOS
}

body {
  // @extend %cover;
  // position: relative;
  font-family: font(lato);
  font-size: clamp(16px, 1.6rem, 1.6rem);
  font-weight: 400;
  font-style: normal;
  text-size-adjust: 100%;
  line-height: 1.5;
  opacity: 0; // hide visually
  background-color: colors(grey);
  overflow-x: hidden;
}


html.lenis {
  overflow-x: hidden;
  scrollbar-width: none;
}


body.fonts-loaded {
  opacity: 1;
  transition: opacity 0.3s ease; // fade-in effect
}

/* Hide scrollbar for Webkit */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Firefox */
body {
  scrollbar-width: none;
}


::selection {
  background: colors(gold); // your brand color
  color: white; // text color when highlighted
}

::-moz-selection {
  /* Firefox */
  background: colors(gold);
  color: white;
}


// .lenis.lenis-smooth {
//   scroll-behavior: auto;
// }

// .lenis.lenis-smooth [data-lenis-prevent] {
//   overscroll-behavior: contain;
// }

// .lenis.lenis-stopped {
//   overflow: hidden;
// }

// .lenis.lenis-scrolling iframe {
//   pointer-events: none;
// }

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}


canvas {
  pointer-events: none;
  position: relative;
  z-index: z('canvas');
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  z-index: z(images);
  user-select: none;
  // max-inline-size: 100%;
  // transition: opacity 0.4s ease;
  // vertical-align: middle;

  &.loaded {
    opacity: 1;
  }
}

svg {
  z-index: z(icons);
  user-select: none;
  font-family: font(lato);
  font-size: clamp(16px, 1.6rem, 1.6rem);
}

// .content {
//   @extend %cover;
// }

[data-animation='label'],
[data-animation='paragraph'],
[data-animation='title'] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}

[data-animation='button'] {
  display: inline-block;
  position: relative;
  white-space: nowrap;

  span {
    display: inline-block;
    transform-origin: center center 0.5em;
    vertical-align: middle;
  }
}

[data-animation='link'] {
  display: inline-block;
  position: relative;
  white-space: nowrap;

  span {
    display: inline-block;
    transform-origin: center center 0.5em;
    vertical-align: middle;
  }
}