@use '../utils/responsive' as *;

.container {
  margin-left: var(--margin-xsmall);
  margin-right: var(--margin-xsmall);

  @include media('<tablet') {
    margin-left: var(--margin-small);
    margin-right: var(--margin-small);
  }

  @include media('<phone') {
    margin-left: var(--margin-tiny);
    margin-right: var(--margin-tiny);
  }
}

.container--padding {
  padding-left: var(--padding-xsmall);
  padding-right: var(--padding-xsmall);

  @include media('<tablet') {
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
  }

  @include media('<phone') {
    padding-left: var(--padding-tiny);
    padding-right: var(--padding-tiny);
  }
}